/* Desktop View */
h1 {
    color: orange; 
    font-family:'Courier New', Courier, monospace; 
}
/* tablet view */
@media (max-width: 768px){
    h1 {
        color: blue; 
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    }
}
/* Mobile View set between 360 - 500 */
/* for easy testing we set at 500 */
@media (max-width: 500px){
    h1{
        color: greenyellow; 
    }
}
